<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Upload Multiple Images With AJAX</title>
</head>
<body>

	<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<p>{{ form.tile }}</p>
			<p>
				{{ form.file }}
				{{ form.name }}
				<button id="upload" type="submit" onClick="uploadFile()">+</button>
				<span id="urls"></span>
			</p>
		</form>
		<button type="submit">submit</button>
	</form>
</body>
<script>
	const fileupload = document.querySelector('#upload');
	fileupload.addEventListener("click", (e) => {
		e.preventDefault()
	})
	async function uploadFile() {
		const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
		const fileupload = document.querySelector('input[type=file]');
		let formData = new FormData();
		formData.append("file", fileupload.files[0]);
		formData.append("name", "shit");
		formData.append("tile", "beerb");
		await fetch('up', {
			method: "POST", 
			body: formData,
			headers:{
				'X-CSRFToken': csrftoken,
			},
		}).then(m => {
			return m.json()
		}).then(aa => {
			console.log(aa)
		})
	}
</script>
{% comment %} <script src="{% static 'imageuploader/upload.js' %}"></script> {% endcomment %}
</html>